<!-- These are here just to show the structure of the list items -->
<!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
<li [ngClass]="{'completed': todo.completed, 'editing': editing}">
  <div class="view">
    <input
            class="toggle"
            type="checkbox"
            [formControl]="chkField"
            [checked]="todo.completed">
    <label (dblclick)="edit()">{{todo.text}}</label>
    <button class="destroy" (click)="deleteTodo()"></button>
  </div>
  <input
          class="edit"
          [value]="todo.text"
          [formControl]="textInput"
          (blur)="finishedEdit()"
          #inputEditText>
</li>