<header class="header">
  <h1>NGRX</h1>
  <input
          class="new-todo"
          placeholder="What needs to be done?"
          [formControl]="textInput"
          (keyup.enter)="addTodo()"
          autofocus>
</header>
